PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=acc-game
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}${APP_PREFIX}
FE_URL="http://localhost:5173"

# Đường dẫn kết nối database PostgreSQL (Render/Local)
DATABASE_URL="postgresql://username:password@host:port/database"

# Cấu hình bảo mật JWT Token
JWT_ACCESS_SECRET="your_super_secret_access_key"
JWT_ACCESS_EXPIRES_IN=7d

# Cấu hình lưu trữ hình ảnh đám mây Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"